* {
  border: 1px solid yellow;
}
body {
  margin: 0;
}
.container {
  height: 100%;
  width: 100vw;
}

.header {
  min-width: 90%;
  position: fixed;
  top: 20px;
  left: 5%;
}
.nav {
  /* margin: 0; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 3rem;
  display: flex;
}
.logo img {
  width: 100%;
  margin: auto;
}
.nav ul {
  display: flex;
  flex-direction: row;
  background-color: blue;
}
.nav ul li {
  display: block;
}
